@page "/EditHeya"

@attribute [Authorize]

@using Data;

@inject Microsoft.AspNetCore.Identity.SignInManager<Data.ApplicationUser> SignInManager
@inject NavigationManager _navigationManager

<h3>EditHeya</h3>

<table class="table table-bordered table-responsive">
    <tbody>
        @for(int y=0; y<10; y++)
        {
            var captureY = y;
            <tr>
                @for(int x=0; x<10; x++)
                {
                    var captureX = x;

                    <td class="@TableUtility.HeyaTableDataAttribute(Heyas!, x, y)" @onclick="() => OnClickTableCell(captureX, captureY)"></td>
                }
            </tr>
        }
    </tbody>
</table>

<button @onclick="OnClickSaveButton">Save</button>

@code {
    private string? UserId { get; set; }
    private List<Heya> Heyas { get; set; } = new List<Heya>();

    protected override async Task OnInitializedAsync()
    {
        var user = await SignInManager.UserManager.GetUserAsync(SignInManager.Context.User);

        UserId = user.UserId.ToString();

        using var applicationDbContext = new ApplicationDbContext();

        Heyas = applicationDbContext.Heyas!.Where(heya => heya.Owner == UserId).ToList();

        await base.OnInitializedAsync();
    }

    private void OnClickTableCell(int x, int y)
    {
        Heyas.Add(new Heya() { Id = Guid.NewGuid(), Owner = UserId, Name = "", X = x, Y = y, Width = 1, Height = 1 });
    }

    private void OnClickSaveButton()
    {
        _navigationManager.NavigateTo($"/{UserId}");
    }
}
