table {
    display:table;
    border-collapse: separate;
    border-spacing: 0px;
}

.left {
    border-left: 4px blue solid;
}

.top {
    border-top: 4px blue solid;
}

.right {
    border-right: 4px blue solid;
}

.bottom {
    border-bottom: 4px blue solid;
}

.heya {
    background-color: aqua;
}

.square {
    width: 10%;
    padding-top: 0px;
    padding-bottom: 10%;
}