@page "/{UserId}"

@using Data;

@inject Microsoft.AspNetCore.Identity.SignInManager<Data.ApplicationUser> SignInManager
@inject NavigationManager _navigationManager

<h3>Main</h3>

@if (@UserId == @SignInUserId)
{
    <div>true</div>

    <button @onclick="OnClickEditButton">Edit</button>
}
else
{
    <div>false</div>
}

<table class="table table-bordered table-responsive">
    <tbody>
    @for(int y=0; y<10; y++)
    {
        <tr>
        @for(int x=0; x<10; x++)
            {
                <td class="@TableUtility.HeyaTableDataAttribute(Heyas!, x, y)">
                </td>
            }
        </tr>
    }
    </tbody>
</table>

@code {
    [Parameter]
    public string? UserId { get; set; }

    private string? SignInUserId { get; set; }

    private Heya[]? Heyas { get; set; }

    protected override void OnParametersSet()
    {
        var user = SignInManager.Context.User;

        if (SignInManager.IsSignedIn(user))
        {
            SignInUserId = SignInManager.UserManager.GetUserId(user);
        }

        using var applicationDbContext = new ApplicationDbContext();

        Heyas = applicationDbContext.Heyas!.Where(heya => heya.Owner == UserId).ToArray();

        base.OnParametersSet();
    }

    private void OnClickEditButton()
    {
        _navigationManager.NavigateTo("/EditHeya");
    }
}
